
// MAJOR UTILITY STYLING

body {
   font-family: 'Roboto', sans-serif;
}

button {
   &:focus, &:active {
      outline: none;
   }
}

.vs-button {
   margin: 0 !important;
}

.main-util {
   background-color: gray;
}